__pycache__/
*.pyc
*.pyo
*.pyd
.mcd_challenges/
mcd_challenges/
env/
mlruns/
outputs/
.ipynb_checkpoints/
.DS_Store
# MLflow tracking
mlflow.db
mlartifacts/

# Outputs and Data
plots/
data/raw/fullsites/
